table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    /* font-size: 0.9em; */
    font-family: sans-serif;
}
th {
	background-color: #A0A0A0;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

span.label {
	font-size: .5em;
	background-color: LightYellow;
	border-radius: 8px;
	padding: 4px;
}

span.comment {
	font-size: .5em;
	background-color: LightBlue;
	border-radius: 8px;
	padding: 4px;
}
